<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>Mangás</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Mangás que eu li, estou lendo ou pretendo ler.
  <p>
      Site para ler mangás: <a href="http://centraldemangas.online/">Central de Mangás</a>
  </p>
  <p>
    <button ion-button color="danger" block outline (click)= navigateToPage(-1)>voltar</button>
  </p>
    
</ion-content>
