<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Pausa de 5 minutos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Meu app para mangás, animes e cards de Magic.
  <p>
    <button ion-button color="danger" block outline (click)="navigateToPage(2)">Mangás</button>
  </p>
  <p>
    <button ion-button color="primary" block outline (click)="navigateToPage(3)">Animes</button>
  </p>
  <p>
    <button ion-button color="secondary" block outline (click)="navigateToPage(4)">Magic</button>
  </p>

  <p>
      <button ion-button color="dark" clear block outline (click)="navigateToPage(-1)">Alterar Usuário</button>
  </p>

  <ion-fab bottom right>
    <button ion-fab color="green" (click)="navigateToPage(0)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
