<!--
  Generated template for the FourthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Magic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Decks de magic e cartas que tenho ou pretendo montar, ou simplesmente acho bonitas.
  <p>
      Site para cards de Magic: <a href="https://www.manafix.net/">Mana Fix</a>
  </p>
  <p>
    <button ion-button color="secondary" block outline (click)=navigateToPage(-1)>voltar</button>
  </p>
</ion-content>
