<!--
  Generated template for the ThirdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Animes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Animes que eu vi, estou vendo ou pretendo ver.
  <p>
      <button ion-button color="primary" block outline (click)="navigateToPage(-1)">voltar</button>
  </p>
  

</ion-content>
