<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color = "purple" >
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating color="purple">Usuário</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating color="purple">Senha</ion-label>
      <ion-input type="text" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <p>
    <button ion-button color="purple" block outline (click)="logar(nome, senha)">login</button>
  </p>


</ion-content>
