<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="green">
    <ion-title>Notas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p>
        Ajuda com Ionic V3: <a href="https://ionicframework.com/docs/v3/components/#buttons-in-components">Ionic UI</a>
    </p>
    <p>
        <button ion-button color="green" block outline (click)= navigateToPage(-1)>voltar</button>
    </p>

</ion-content>
